@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
     background-color: rgb(0, 0, 0);
     color: white;
     font-family: 'Roboto', sans-serif;
}

h1 {
     background-color: rgb(0, 0, 151);
     font-style: italic ;
     font-weight: 700;
     font-size: 40px;
     text-align: center;
     text-transform: uppercase;
     letter-spacing: 1px;
     word-spacing: 3px;
     padding: 5px;
     border: 5px solid black;

}
.envoltura {
            height: 250px;
}

header .nav {
             font-style: normal;
             font-weight: 500;
             font-size: 20px;
             text-align: center ;
             text-transform: uppercase;
             letter-spacing: 1px;
             padding: 10px; 
             margin: 30px;    
             height: 200px;   
             background-color: rgb(59, 59, 59);
                         
}
        
.ul-flex {
          
          padding: 10px;
          margin: 20px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
          
          
}

.ul-flex li {
             list-style-type: none;
             margin: 10px;
             padding: 10px;
             text-decoration: none;
             background-color: white;
             
}

.a1 {
     text-decoration: none;
     color: rgb(0, 0, 0);    
}

main {
         font-size: 20px;
         font-weight: 500;
         text-align: center;
         background-color: white;
         color: black;
         padding: 30px;
         border: 5px solid black;
         margin: 0px 80px 20px 80px;
}

.p1 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: black;
    padding: 5px;
    margin: 0px 0px 15px 0px;
}       

.video1 {
         
         width: 600px;
         height: 350px;
}

footer {
         color: white;
         background-color: rgb(59, 59, 59);
         padding: 30px;
         margin: 50px 45px 15px 45px;
}

footer h2 {
            font-size: 25px;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            margin: 0px 0px 20px 0px;

}

.li2 {
       font-size: 15px;
       font-weight: 500;
       display: block;
       padding: 5px;
       margin: 10px 0px 10px 10px;
}

.p2 {
      font-size: 15px;
      font-weight: 500;
      padding: 5px;
      margin: 25px 0px 5px 10px;
}

.a2 {
    text-decoration: none;
    color: black;
}

.section1 {
         font-size: 20px;
         font-weight: 500;
         text-align: center;
         background-color: white;
         color: black;
         padding: 30px;
         border: 5px solid black;
         margin: 0px 80px 20px 80px;
}

.redes {
        display: flex;
        flex-direction: row;
        justify-content: center;

}
.iconos {
         height: 48px;
         width: 48px;
                 
}

img {
    width: 400px;
    height: 250px;
}




@media (min-width:500px) {

    .envoltura {
                height: 580px;
    }
   

    header .nav {
        padding: 10px; 
        margin: 30px;    
        height: 525px;   
        background-color: rgb(59, 59, 59);
                    
}
   
      

       .ul-flex {
            padding: 10px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            
        
        
}

    
        main {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            background-color: white;
            color: black;
            padding: 30px;
            border: 5px solid black;
            margin: 0px 45px 20px 45px;
    }

        .video1 {
         
            width: 300px;
            height: 200px;
            margin: 20px;
    }

        img {
            width: 300px;
            height: 200px;
         }


        footer {
                color: white;
                 background-color: rgb(59, 59, 59);
                 padding: 30px;
                 margin: 50px 45px 15px 45px;
        }
        
}


@media (min-width:768px) {

    .envoltura {
                height: 580px;
}


    header .nav {
                padding: 10px; 
                margin: 30px;    
                height: 525px;   
                background-color: rgb(59, 59, 59);
            
}



    .ul-flex {
              padding: 10px;
              margin: 10px;
              display: flex;
              flex-direction: column;
    


}

        main {
            font-size: 20px;
            font-weight: 500;
            text-align: center; 
            background-color: white;
            color: black;
            padding: 30px;
            border: 5px solid black;
            margin: 0px 50px 20px 50px;
    }

        .video1 {
            margin: 10px 10px 10px 10px;
            width: 500px;
            height: 300px;
            margin: 1px;
    }

        img {
            width: 500px;
            height: 350px;
        }

        footer {
                color: white;
                 background-color: rgb(59, 59, 59);
                 padding: 30px;
                 margin: 50px 45px 15px 45px;
        }
        
}


@media (min-width:1024px) {
         .envoltura {
                    height: 250px;
         }

         
         header .nav {    
            height: 200px;   
}

 
         .ul-flex {
           height: 50px;
           padding: 30px;
           margin: 0px 20px 10px 20px;
           display: grid;
           grid-template-columns: repeat(3, 1fr);
           gap: 20px;
   }
       
         .ul-flex li {
           margin: 10px 10px 1px 10px;
           padding: 10px;
    
   }

        main {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            background-color: white;
            color: black;
            padding: 30px;
            border: 5px solid black;
            margin: 0px 50px 20px 50px;
    }

        .video1 {
         
            width: 700px;
            height: 400px;
            margin: 1px;
    }

        img {
            width: 600px;
            height: 350px;
        }

        footer {
                color: white;
                 background-color: rgb(59, 59, 59);
                 padding: 30px;
                 margin: 50px 45px 15px 45px;
        }
        
}

